In [1]:
import pandas as pd
from pandas._testing import assert_series_equal
from pandas._testing import assert_frame_equal

In [2]:
number = '1000'
method = 'PMI_base_BoW' +'_'+ number
file_name = 'ComParE2020_USOMS-e.'+method+'.V_cat_no.train.csv'
# file_name = 'PMI_V_train.csv'
data = pd.read_csv(file_name)
c_len = len(data.columns)
data_L = data.iloc[:, :int(c_len/3)]
data_M = data.iloc[:, int(c_len/3):2*int(c_len/3)]
data_H = data.iloc[:, 2*int(c_len/3):]

mean_L = data_L.mean(axis = 1)
mean_M = data_M.mean(axis = 1)
mean_H = data_H.mean(axis = 1)
result = pd.DataFrame(list(zip(mean_L,mean_M,mean_H)))
result
# # mean_H
# print(assert_series_equal(mean_H,mean_L))
# # print(assert_frame_equal(data_L,data_H))
# data_L

           0         1         2
0   0.043343  0.063317  0.060093
1   0.060510  0.087617  0.083242
2   0.001664  0.002734  0.002562
3   0.001157  0.001870  0.001755
4   0.000605  0.000962  0.000904
..       ...       ...       ...
82  0.003573  0.005713  0.005368
83  0.001815  0.002885  0.002712
84  0.083671  0.121835  0.115675
85  0.041458  0.060005  0.057012
86  0.001764  0.002834  0.002661

[87 rows x 3 columns]

In [3]:
# data_H

In [4]:
min_L = data_L.min(axis = 1)
min_M = data_H.min(axis = 1)
min_H = data_M.min(axis = 1)

max_L = data_L.max(axis = 1)
max_M = data_H.max(axis = 1)
max_H = data_M.max(axis = 1)

std_L = data_L.std(axis = 1)
std_M = data_H.std(axis = 1)
std_H = data_M.std(axis = 1)

ran_L = max_L-min_L
ran_M = max_M-min_M
ran_H = max_H-min_H

result_2 = pd.DataFrame(list(zip(min_L,max_L,mean_L,std_L,ran_L,min_M,max_M,mean_M,std_M,ran_M,min_H,max_H,mean_H,std_H,ran_H)))
result_2
# print(assert_series_equal(std_M,std_H))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,3.570417,0.043343,0.252225,3.570417,0.0,4.766847,0.063317,0.347179,4.766847,0.0,4.997117,0.060093,0.365572,4.997117
1,0.0,3.570417,0.060510,0.280115,3.570417,0.0,4.766847,0.087617,0.384242,4.766847,0.0,4.997117,0.083242,0.404363,4.997117
2,0.0,0.641290,0.001664,0.030560,0.641290,0.0,0.940397,0.002734,0.046856,0.940397,0.0,0.997965,0.002562,0.049997,0.997965
3,0.0,0.669461,0.001157,0.026169,0.669461,0.0,0.968568,0.001870,0.039431,0.968568,0.0,1.026136,0.001755,0.041991,1.026136
4,0.0,0.604922,0.000605,0.019129,0.604922,0.0,0.904030,0.000962,0.028588,0.904030,0.0,0.961597,0.000904,0.030408,0.961597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,0.0,0.641290,0.003573,0.046184,0.641290,0.0,0.940397,0.005713,0.069239,0.940397,0.0,0.997965,0.005368,0.073680,0.997965
83,0.0,0.604922,0.001815,0.033100,0.604922,0.0,0.904030,0.002885,0.049466,0.904030,0.0,0.961597,0.002712,0.052616,0.961597
84,0.0,4.463022,0.083671,0.315673,4.463022,0.0,5.958558,0.121835,0.433229,5.958558,0.0,6.246396,0.115675,0.455972,6.246396
85,0.0,1.814767,0.041458,0.197619,1.814767,0.0,2.712089,0.060005,0.272827,2.712089,0.0,2.884792,0.057012,0.287378,2.884792
86,0.0,0.759073,0.001764,0.032859,0.759073,0.0,1.058180,0.002834,0.048998,1.058180,0.0,1.115748,0.002661,0.052120,1.115748

In [5]:
# max_L

In [6]:
# max_H